In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = 'content/gdrive/My Drive/kaggle_dataset'

In [4]:
%cd /content/gdrive/My Drive/kaggle_dataset

/content/gdrive/My Drive/kaggle_dataset

In [5]:
!ls

bank_data2.csv		 Churn_Modelling.csv  kaggle.json
bank_data_for_model.csv  content

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import warnings
warnings.filterwarnings("ignore")
sns.set(style="darkgrid",font_scale=1.5)

In [8]:
df = pd.read_csv('/content/gdrive/MyDrive/kaggle_dataset/bank_data2.csv')

In [9]:
df

,Unnamed: 0,CreditScore,Geography,Gender,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Tenure_group
0,0,619,France,Female,42,0.00,1,1,1,101348.88,1,1 - 2
1,1,608,Spain,Female,41,83807.86,1,0,1,112542.58,0,1 - 2
2,2,502,France,Female,42,159660.80,3,1,0,113931.57,1,7 - 8
3,3,699,France,Female,39,0.00,2,0,0,93826.63,0,1 - 2
4,4,850,Spain,Female,43,125510.82,1,1,1,79084.10,0,1 - 2
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,771,France,Male,39,0.00,2,1,0,96270.64,0,5 - 6
9996,9996,516,France,Male,35,57369.61,1,1,1,101699.77,0,9 - 10
9997,9997,709,France,Female,36,0.00,1,0,1,42085.58,1,7 - 8
9998,9998,772,Germany,Male,42,75075.31,2,1,0,92888.52,1,3 - 4
9999,9999,792,France,Female,28,130142.79,1,1,0,38190.78,0,3 - 4

In [11]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [12]:
df.head(10)

,CreditScore,Geography,Gender,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Tenure_group
0,619,France,Female,42,0.00,1,1,1,101348.88,1,1 - 2
1,608,Spain,Female,41,83807.86,1,0,1,112542.58,0,1 - 2
2,502,France,Female,42,159660.80,3,1,0,113931.57,1,7 - 8
3,699,France,Female,39,0.00,2,0,0,93826.63,0,1 - 2
4,850,Spain,Female,43,125510.82,1,1,1,79084.10,0,1 - 2
5,645,Spain,Male,44,113755.78,2,1,0,149756.71,1,7 - 8
6,822,France,Male,50,0.00,2,1,1,10062.80,0,7 - 8
7,376,Germany,Female,29,115046.74,4,1,0,119346.88,1,3 - 4
8,501,France,Male,44,142051.07,2,0,1,74940.50,0,3 - 4
9,684,France,Male,27,134603.88,1,1,1,71725.73,0,1 - 2

In [14]:
df1 = pd.get_dummies(df)
df1.head(10)

,CreditScore,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male,Tenure_group_1 - 2,Tenure_group_3 - 4,Tenure_group_5 - 6,Tenure_group_7 - 8,Tenure_group_9 - 10
0,619,42,0.00,1,1,1,101348.88,1,1,0,0,1,0,1,0,0,0,0
1,608,41,83807.86,1,0,1,112542.58,0,0,0,1,1,0,1,0,0,0,0
2,502,42,159660.80,3,1,0,113931.57,1,1,0,0,1,0,0,0,0,1,0
3,699,39,0.00,2,0,0,93826.63,0,1,0,0,1,0,1,0,0,0,0
4,850,43,125510.82,1,1,1,79084.10,0,0,0,1,1,0,1,0,0,0,0
5,645,44,113755.78,2,1,0,149756.71,1,0,0,1,0,1,0,0,0,1,0
6,822,50,0.00,2,1,1,10062.80,0,1,0,0,0,1,0,0,0,1,0
7,376,29,115046.74,4,1,0,119346.88,1,0,1,0,1,0,0,1,0,0,0
8,501,44,142051.07,2,0,1,74940.50,0,1,0,0,0,1,0,1,0,0,0
9,684,27,134603.88,1,1,1,71725.73,0,1,0,0,0,1,1,0,0,0,0

In [15]:
x = df1.drop('Exited', axis = 1)
x

,CreditScore,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male,Tenure_group_1 - 2,Tenure_group_3 - 4,Tenure_group_5 - 6,Tenure_group_7 - 8,Tenure_group_9 - 10
0,619,42,0.00,1,1,1,101348.88,1,0,0,1,0,1,0,0,0,0
1,608,41,83807.86,1,0,1,112542.58,0,0,1,1,0,1,0,0,0,0
2,502,42,159660.80,3,1,0,113931.57,1,0,0,1,0,0,0,0,1,0
3,699,39,0.00,2,0,0,93826.63,1,0,0,1,0,1,0,0,0,0
4,850,43,125510.82,1,1,1,79084.10,0,0,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,0.00,2,1,0,96270.64,1,0,0,0,1,0,0,1,0,0
9996,516,35,57369.61,1,1,1,101699.77,1,0,0,0,1,0,0,0,0,1
9997,709,36,0.00,1,0,1,42085.58,1,0,0,1,0,0,0,0,1,0
9998,772,42,75075.31,2,1,0,92888.52,0,1,0,0,1,0,1,0,0,0
9999,792,28,130142.79,1,1,0,38190.78,1,0,0,1,0,0,1,0,0,0

In [16]:
y = df1['Exited']

In [17]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [18]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [20]:
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [21]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [22]:
y_pred=model_dt.predict(x_test)
y_pred

array([1, 0, 0, ..., 0, 0, 0])

In [23]:
model_dt.score(x_test,y_test)

0.8665

In [24]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.88      0.97      0.92      1595
           1       0.79      0.47      0.59       405

    accuracy                           0.87      2000
   macro avg       0.83      0.72      0.75      2000
weighted avg       0.86      0.87      0.85      2000